
<div *ngIf="cart.length>0">
  <h3> Attached is the List of items in your Cart!!!!</h3>
</div>
<mat-card
  style="margin: 10px; width: 400px" class="example-card"
  *ngFor="let product of cart"
  >
  <mat-card-header>
    <mat-card-title> Name of Item : {{product.itemName}}</mat-card-title>
    <mat-card-subtitle>Price Per Item :{{product.itemPrice}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Number of items in cart : {{product.itemsBooked}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="addItem(product)" mat-raised-button>Add</button>
    <button (click)="deleteItem(product)" color="warn" mat-raised-button>Delete</button>
  </mat-card-actions>
</mat-card>

<div *ngIf="totalCart">
  <div style="position: absolute; top: 50%; left: 35%; padding-left: 5px">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title> Final Cart Details:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <b>Number of Items</b>: {{ totalCart.totalItems }}
        </p><p>
          <b>Total Price of Items</b>: {{ totalCart.totalPrice }}
        </p>
      </mat-card-content>
  <mat-card-actions>
    <button (click)="placeOrder()" color="warn"  mat-raised-button>Place Order</button>
  </mat-card-actions>
    </mat-card>
  </div>
</div>
